mat-form-field {
    margin-right: 12px;
  }
.mat-radio-button ~ .mat-radio-button {
margin-left: 16px;
}


.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}